{% extends "mesg/message_base.html" %}


{% block message_text %}
	{{ message.message_text }}
{% endblock message_text %}

{% block author_name %}
	{{ message.author.username }}
{% endblock author_name %}

{% block pub_date %}
	{{ message.pub_date|timesince }} ago ({{ message.pub_date|date:"c" }})
{% endblock pub_date %}

{% block expires_date %}
	{% if message.expires_date != Null %}
		{{ message.expires_date|timeuntil }} ({{ message.expires_date|date:"c" }})
	{% else %}
		Never
	{% endif %}
{% endblock expires_date %}

{% block category_breadcrumbs %}
	<a href="{% url 'mesg:division' division_name=division.name %}">
		{{ division.name }}
	</a> 
	{% if subdivision %}
		{{ '>>'|escape }}
		<a href="{% url 'mesg:subdivision' division_name=division.name subdivision_name=subdivision.name %}">
			{{ subdivision.name }}
		</a>
	{% endif %}
{% endblock category_breadcrumbs %}
